/*
html { 
  background: url(images/phuket_01_small.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

div.content {
  width: 1024px;
  margin: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 10px;
	padding-left: 10px;
	background-color:rgba(255,255,255,0.8);
}

div.header-wrapper {
	width: 1024px;
	margin: auto;
	padding: 10px;
	color: white;
}

a.header-links {
	color: white;
	text-decoration: none;
	margin-left: 10px;
}

div.links-container {
	margin: 0;
	float: right;
}

div.logo-container {
	margin: 0;
	float: left;
}

img#header-logo {
	height: 16px;
}

body {
  margin: 0px;
}

header, footer {
  background-color:rgba(0,0,0,0.6);
  width: 100%;
}

header {
  height: 40px;
}

footer {
  height: 35px;
}
