html { 
  background: url(images/phuket_01_small.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.top_banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 128px;
  background-color: #DDEEEE; 
  width: 100%;
}

fieldset {
  border: 1px solid green;
  margin: auto;
}

div.wrapper {
  background: white;
  width: 1024px;
  margin: auto;
}

legend {
  padding: 2px 8px;
  color:   green;
}

table {
  width: 100%;
  border: 1px solid #B0B0B0;
}

tr:nth-child(even) {
  background: #F2F2F2;
}

/*
th {
  background:  #3399FF;
  color:       #FFFFFF;
  font-family: serif;
  font-size:   120%;
  font-weight: normal;
  font-style:  italic;
  padding:     3px 10px;
}
*/
th {
  padding: 3px 10px;
}

td {
  padding: 3px 10px;
}

div {
  padding: 5px 8px;
}
